name: Fuzzing

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 0 0 * * *

permissions: read-all

jobs:
  fuzzing:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        sanitizer: [address, undefined, memory]

    steps:
    - name: Build Fuzzers (${{ matrix.sanitizer }})
      id: build
      uses: google/clusterfuzzlite/actions/build_fuzzers@v1
      with:
        language: c
        github-token: ${{ secrets.GITHUB_TOKEN }}
        sanitizer: ${{ matrix.sanitizer }}

    - name: Run Fuzzers (${{ matrix.sanitizer }})
      id: run
      uses: google/clusterfuzzlite/actions/run_fuzzers@v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        mode: ${{ github.event_name == 'pull_request' && 'code-change' || 'batch' }}
        fuzz-seconds: ${{ github.event_name == 'pull_request' && 600 || 3600 }}
        sanitizer: ${{ matrix.sanitizer }}
        output-sarif: true